body		{ background:#FFF; margin:0px; font:normal 12px arial,ו; scrollbar-face-color: #999999; scrollbar-highlight-color: #999999; scrollbar-shadow-color: #999999; scrollbar-darkshadow-color: #999999; scrollbar-3dlight-color: #999999; scrollbar-arrow-color: #FFFFFF;scrollbar-track-color: #eeeeee;}
table	{ border:0px; }
td		{ font-size:12px ; }
img		{ vertical-align:bottom; border:0px; }
a		{ font-size: 12px ; color:#666666; text-decoration:none; }
a:hover	 { color:red }
a img {border:0}

.menu {clear:both;width:158px;margin-bottom:4px;}
.menu .sec_menu {display:;}
.menuHide {clear:both;width:158px;margin-bottom:4px;}
.menuHide .sec_menu {display:none;}
.menuHide a.menu_title {background-image:url(../../pic/admin_title_bg_hide.gif);}
.menuHide a.menu_title:hover {background-image:url(../../pic/admin_title_bg_show.gif);}

.sec_menu {}
.sec_menu a {padding:3px 0; text-indent:10px; float:left;width:50%; background:#eee;}
.sec_menu a:hover {background:#666;color:white;}

a.menu_title {height:25px; line-height:25px; text-indent:5px; font-weight:bold; color:#333; display:block; background-color:#d8c4f6; background-image:url(../../pic/admin_title_bg_show.gif);}
a.menu_title:hover {background-image:url(../../pic/admin_title_bg_hide.gif);}

.col_sel {padding:3px 5px; text-align:center; display:none;*display:block;}
.col_sel a {height:10px; width:10px; margin:0 4px; font-size:6px; cursor:hand;display:block;float:left;}
